@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Monoton&family=Roboto:wght@100;300;400;700&display=swap"); 

@import './helpers/mixins';
@import './helpers/variables';

@import './components/sidebarMenu';
@import './components/header';

body{
  font-family: 'Roboto',sans-serif;
}
body,hr,ul,h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
ul{
  list-style-type: none;
  padding:0;
}
a{
  text-decoration: none;
  color:$text-black;
}
.wrapper{
  display:flex;
  &__content{
    width:100%;
    background-color: $bg-lightgray;
  }
}