.goods{
  
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    display: flex;
    align-items: center;
    img{
      width:40px;
      height:43px;
      margin-right: 20px;
    }
    h3{
      @include font (36px,400);
      color: $text-black;
    }
  }
  &-sort{
    background-color: $bg-white;
    padding:4px 19px 10px 13px;
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.09);
    border-radius: 15px 15px 0px 0px;
    cursor:pointer;
    &__label{
      @include font(14px,300);
      color: $text-gray;
    }
    &__current{
      display:inline-block;
      @include font(18px,400);
      color: $text-black;
      margin-right: 35px;
  
    }
    &__wrapper{
      display:flex;
      justify-content: space-between;
      align-items: center;
      position:relative;
      z-index:4;
      min-width: 200px;
      img{
        margin-left:30px;
      }
    }
    ul{
      opacity:0;
      transition:0.3s;
      background: $bg-white;
      position:absolute;
      top:-20px;
      left:-12px;
      width:100%;
      padding:10px 15px;
      border-radius: 0 0 15px 15px;
      z-index:-1;
      visibility: hidden;
      box-shadow: 0px 20px 18px 6px rgba(0, 0, 0, 0.09);
      &.active{
        top:20px;
        opacity:1;
        visibility: visible;
      }
    }
    &__item{
      margin-top: 20px;
     @include font(18,400);
     &_active{
      color:$text-orange;
     }
     &:first-of-type{
        border-top: 2px solid $bg-gray;
        padding-top: 10px;
        margin-top: 10px;
     }
    }
  }
  &__items{
    display:flex;
    flex-wrap: wrap;
    margin: 0 -21px;
  }
  .col-4{
    padding:21px;
    box-sizing: border-box;
  }
  &__item{
    padding:10px;
    background-color: $bg-white;
    min-width: 290px;
    img{
       width:100%;
    }
    h3{
      @include font(24px,500);
      color:$text-black;
    }
    p{
      @include font(18px,400);
      color: $text-gray;
      margin: 30px 0;
    }
    span{
      @include font(24px,700);
      color:$text-black;
      margin-bottom: 20px;
    }
    div{
      @include flex(center,space-between);
      border-top: 2px solid $bg-gray;
      padding-top: 10px;
    } 
    button{
      @include font (24px,500);
      color: #F2F2F2;
      background: $bg-orange;
      padding:5px 40px;
      border-radius: 5px;
      border: none;
      cursor:pointer;
    }
  }
}