.header{
  display: flex;
  border-bottom: 1px solid $bg-gray;
  &__right {
    @include flex(center,space-between);
    padding:0 40px 0 18px;
    width:83.33%;
  }
  &__city{
    span{
      @include font (14px,300);
       color:$text-gray;
    }
      h6{
        @include font (18px,400);
        color: $text-black;
      }

  }
  &__nav{
    display:flex;
    ul{
      display: flex;
    }
    li{
      margin-right: 10px;
    }
    a{
      @include font(18px,400);
      color:$text-black;
      transition: 0.2s;
      &:hover{
       color:$text-orange;
      }
    }
   
  }
  &__search{
    margin-left: 70px;
    cursor: pointer;
  }
}
.contacts{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:6px 18px;
  border-right: 1px solid $bg-gray;
  &__title{
    @include font(18px,500);
    color:$text-black;
  }
  &__phone{
    @include font(18px,500);
    color: $text-orange;
  }
  &__time{
    display: flex;
    span{
      @include font(14px,500);
      color: $text-gray;
      margin-left: 5px;
      white-space: nowrap;
    }
  }
}

.header{
  &__nav,
  &__city{
    @include mobile{
      display:none;
    }
  }
}