.sidebar-menu{
  display:inline-block;
  padding:25px 65px;
  hr{
    width: 180px;
    height:1px;
    background-color: #A4ACAD;
  }
}

.logo{
  margin-bottom: 30px;
  &__link{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  &__text{  
    @include font(24px,400);
    margin-top: 10px;
    color: #000000;
  }
  &__img{
    height:100px;
    width:100px;
  }
}
.nav{
  &__list{
    padding:30px;
  }
  &__item{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
    &__locked{
      .nav-soon{
         display:inline;
      }
    }

  }
  &__icon{
    margin-right:20px;
  }
  &__link {
    position:relative;
    display:inline-block;
    width:100%;
  }
  &__soon {
    @include font(11px,400);
    position:absolute;
    right:-10px;
    top:-10px;
    transform:translate(0,-50%);
    background: $bg-red;
    border-radius: 10px;
    padding:4px 8px;
    color: $text-white;
  }
}