.sidebar-cart{
padding:55px 40px;
min-width:430px;
&__empty{
  background: $bg-lightgray;
  border-radius: 5px;
  max-width:290px;
  padding:10px 0 0;
  text-align: center;
  h3{
    @include font(24px,500);
    color: $text-black;
    margin-bottom: 10px;
  }
  span{
    @include font(18px,400);
    color: $text-gray;
  }
}
&__delivery {
  padding:12px 32px 11px;
  background: $bg-orange;
  @include font (14px,400);
  color:$text-lightgray;
  margin-top: 26px;
}
}
.sidebar__map{
  position:relative;
  margin-top:20px;
  max-width:290px;
  text-align: center;
  border-radius: 5px;
  background-color: $bg-lightgray;
  overflow: hidden;
  padding-bottom: 7px;
  &_geo{
    @include flex(center,center);
    position:absolute;
    top:50%;
    left:50%;
    background: $bg-orange;
    width:60px;
    height:60px;
    border-radius: 50%;
    transform:translate(-50%,-50%);
  }
  h4 {
    @include font(24px,500); 
    color:$text-black;
    margin-top: 40px;
  }
 span{
  @include font(18px,400);
  color: $text-gray;
 }
}