@mixin font($size,$weight,$lh:1.5){
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;

}

@mixin flex($alitems,$juscontent){
 display:flex;
 align-items: $alitems;
 justify-content: $juscontent;
}
@mixin mobile($size:576px){
  @media screen and (max-width:$size){
    @content
    }
  

}