$bg-red:#EB5757;
$bg-gray:#A4ACAD;
$bg-orange:#FF9846;
$bg-lightgray:#E5E5E5;
$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-dark-orange:#F46D40;

$text-white:#FFFFFF;
$text-orange:#FF9846;
$text-black:#000000;  
$text-gray:#A4ACAD;
$text-dark-orange:#F46D40;
$text-lightgray:#F2F2F2;